---
import { getCollection } from 'astro:content'
import Container from '../components/Container.astro'
import PageHeading from '../components/PageHeading.astro'
import Prose from '../components/Prose.astro'
import Layout from '../layouts/Layout.astro'
import PageStandard from '../layouts/PageStandard.astro'
import Teammate from '../components/Teammate.astro'

const teamEntries = await getCollection('team', (entry) => {
  // If we are in PROD, hide the unpublished teammates
  if (import.meta.env.PROD) return entry.data.published

  return true
}).then((entries) => entries.toSorted((a, b) => a.data.order - b.data.order))
---

<Layout title="About | Codeastro">
  <PageStandard>
    <Container>
      <div class="flex flex-col gap-8">
        <PageHeading>About</PageHeading>

        <section class="flex flex-col gap-16 pb-32">
          <Prose>
            <p>You might be asking yourself...</p>
          </Prose>

          <h2 class="font-serif text-3xl lg:text-5xl">Why "Codeastro"?</h2>

          <Prose>
            <p>
              The name "CodeAstro" combines two key elements that reflect the
              company’s vision and approach:
            </p>

            <p>
              <strong>Code:</strong> Represents our expertise in software development
              and commitment to crafting high-quality, functional code.
            </p>

            <p>
              <strong>Astro:</strong> Draws from the idea of space exploration and
              innovation. Just like astronauts explore uncharted territories, CodeAstro
              aims to push the boundaries of web development, venturing into new
              technologies and creative solutions.
            </p>
            <p>
              Together, Codeastro symbolizes a journey through the digital
              universe, where we explore and innovate to create exceptional web
              experiences.
            </p>
          </Prose>
        </section>
      </div>
    </Container>

    <section class="bg-gradient-to-b from-slate-900 via-cyan-900 to-slate-900">
      <Container>
        <div class="flex flex-col gap-16">
          <h2 class="font-serif text-3xl lg:text-5xl">Meet our team</h2>

          <div class="flex flex-col gap-16">
            {teamEntries.map((entry) => <Teammate teammate={entry} />)}
          </div>
        </div>
      </Container>
    </section>
  </PageStandard>
</Layout>
