---
import Nav from './Nav.astro'
---

<header class="sticky top-0 z-10 bg-slate-900 px-8 py-4 shadow">
  <div class="flex items-center justify-between gap-4">
    <a
      class="inline-block p-1 text-xl font-bold text-rose-400 transition-all hover:text-pink-500 md:text-2xl"
      href="/"
    >
      Agathist
    </a>

    <Nav />
  </div>
</header>
